<div layout="column" layout-align="end start" flex-offset-gt-xs="15" flex-gt-xs="70">
  <div flex="80" style="height:260px" hide-xs>
  	&nbsp;
  </div>
  <div flex="20">
   	<h1 class="md-display-4" style="margin:0px;opacity:0.1;"> HELLO! </h1>
	<h3 class="md-display-2" style="margin:0px;margin-top:-66px;margin-left:7px"> HELLO! </h3>
  </div>

	
</div>
<div class="text" layout="column" layout-padding  flex-offset-gt-xs="15" flex-gt-xs="70">
	<p class="md-body-1">
		My name is Saulius Skeirys and I'm Front End developer from Chicago, IL. With more than 3 years of proffesional
		experience I am able to provide service which meets latest development standards. The most important fact is that I love what I do. Please check my RESUME to know me better and <a href="mailto:saulius@skeirys.com?subject=I'm interested in you!">Let's Talk</a> if you have some ideas to share or need my help.
	</p>
</div>
                
                