<div layout="column" layout-align="end start" flex-offset-gt-xs="15" flex-gt-xs="70">
  <div flex="80" style="height:260px" hide-xs>
  	&nbsp;
  </div>
  <div flex="20">
	<h1 class="md-display-4" style="margin:0px;opacity:0.1;"> Portfolio </h1>
	<h3 class="md-display-2" style="margin:0px;margin-top:-66px;margin-left:7px"> Portfolio </h3>
  </div>
</div>
<div class="text" layout="column" flex-offset-gt-xs="15" flex-gt-xs="70">
	<p class="md-body-1">
		Over past years, I am happy to share with you that I did contributed in many people's lives. From dealing with the biggest online advertising or event management clients to individuals, who simply asked for the help to improve their business. From writing custom widgets/extensions to creating fully functional responsive websites.
	</p>
	<p class="md-body-1">
		Trends are always changing, but people doesn't. Motivation to improve is what it drives you everyday. Feel free to checkout my latest projects in <a ng-href="https://github.com/saulman">github</a> repository.
	</p>
	<p class="md-body-1">
		For current live websites, please <a href="mailto:saulius@skeirys.com?subject=Examples of work">contact</a> me.
	</p>
</div>
         